@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dokdo&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap');

*,
::after,
::before {
  /* 박스 너비 기준 정하기 */
  /* border-box : 설정한 width와 height값을 margin과 padding 값까지 */
  /* 계산해서 설정 */
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Gamja Flower', cursive;
  font-family: 'Jua', sans-serif;
}

/* 상단 헤더부분 */
header {
  background-image: url('https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Rk9PRHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar-brand .highlight {
  font-size: 60px;
  margin-right: 10px;
  color: orange;
  font-style: italic;
}

.navbar-brand .subtext {
  font-family: 'Do Hyeon', sans-serif;
  font-family: 'Dokdo', cursive;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 48px;
  color: #e7e7e7;
}

/* 바디, 메인부분 */
body {
  /* x축 영역을 벗어난 부분을 잘라서 보이지 않게 함. */
  overflow-x: hidden;
  display: block;
  align-items: center;
  display: grid;
}

main {
  max-width: 1250px;
  padding: 0;
  margin: 50px;
  line-height: 24px;
}

#foodImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
  min-width: 400px;
  min-height: 200px;
}

#nickname {
  color: green;
  font-weight: bold;
}

.likeIcon {
  width: 50px;
  height: auto;
  float: left;
}

.updateBtn , .deleteBtn{
  float: right;
  border: none;
  background-color: rgb(0,0,0,0);
  margin-bottom: 20px;
}


.likeIcon:hover {
  cursor: pointer;
}

/* 댓글부분 */
.form-floating {
  margin-top: 10px;
}
.comment-container {
  position: relative;
}

.x-button {
  position: absolute;
  top: 0;
  right: 0;

  color: red;
  font-weight: bold;
}

.update-button-container {
  margin-top: 20px;
}

.update-button {
  color: red;
  font-size: 15px;
}
